<mat-toolbar color="primary">
  <span style="font-size: 1.4rem;">Quiz App</span>
  <hr style="height:30px; width: 1px; background-color: white; margin: 1rem;">
  <button mat-stroked-button (click)="goToQNA()" [disabled]="isQNARoute">QNA</button>
  <hr style="height:30px; width: 1px; background-color: white; margin: 1rem;">
  <button mat-stroked-button (click)="goToAdd()" [disabled]="isAddQuestionRoute">Add Question</button>
  <hr style="height:30px; width: 1px; background-color: white; margin: 1rem;">
  <button mat-stroked-button (click)="goToQuiz()" [disabled]="isQuizRoute">Take a Quiz?</button>
  <span class="content-spacer"></span>
  <span>Sign in?</span>
</mat-toolbar>
