<div
  style="
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <span class="example-form raised-box">
    <form [formGroup]="categoryForm" (submit)="addCategory()">
      <mat-form-field class="example-full-width">
        <mat-label>Add a new category (Optional)</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <div style="justify-content: center; display: flex">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!categoryForm.valid"
        >
          Add Category
        </button>
      </div>
    </form>
    <form
      [formGroup]="questionForm"
      (submit)="addQuestion()"
      #formDirective="ngForm"
    >
      <!-- <mat-form-field class="example-full-width">
        <mat-label>Select Category</mat-label>
        <input matInput formControlName="category" />
      </mat-form-field> -->

      <mat-form-field class="example-full-width">
        <mat-label>Select a category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let option of categoryOptions"
            [value]="option.name"
          >
            {{ option.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="questionForm.get('category').hasError('required')">
          Category is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Question</mat-label>
        <input matInput formControlName="content" />
        <mat-error *ngIf="questionForm.get('content').hasError('required')">
          Question is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Answer</mat-label>
        <input matInput formControlName="answer" />
        <mat-error *ngIf="questionForm.get('answer').hasError('required')">
          Answer is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>link (Optional)</mat-label>
        <input matInput formControlName="link" />
      </mat-form-field>

      <div style="justify-content: center; display: flex">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!questionForm.valid"
        >
          Add Question
        </button>
      </div>
    </form>
    <div style="justify-content: center; display: flex; height: 3rem; align-items: center;">OR</div>
    <div style="justify-content: center; display: flex">
      <button mat-raised-button color="warn" style="width: 10rem;" (click)="downloadTemplate()">Download template</button>
      <div style="width: 3rem;"></div>
      <!-- <button mat-raised-button color="warn" style="width: 10rem;">Upload qna excel</button> -->
      <input type="file" (change)="fileSelect($event)" accept=".xlsx">
    </div>
  </span>
</div>
