<div
  style="
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div *ngIf="isQuizFormVisible" class="example-form-2 raised-box fixed-margin">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" #formDirective="ngForm">
          <ng-template matStepLabel>Select a category</ng-template>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="firstCtrl" multiple>
              <mat-option
                *ngFor="let option of categoryOptions"
                [value]="option.name"
              >
                {{ option.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="firstFormGroup.get('firstCtrl').hasError('required')"
            >
              Category is required
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext (click)="filterQuestions()">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Select no. of questions">
        <form [formGroup]="secondFormGroup" #formDirectiveDropDown="ngForm">
          <mat-form-field>
            <mat-label>No. of questions</mat-label>
            <mat-select formControlName="secondCtrl">
              <mat-option
                *ngFor="let option of noOfquestionsOptions"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="secondFormGroup.get('secondCtrl').hasError('required')"
            >
              No. of questions is required
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="setFinalQuestions()">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Do you want to start the Quiz?</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button
            mat-raised-button
            color="primary"
            (click)="threeSecondTimer()"
          >
            Yes
          </button>
          <button mat-button (click)="resetForms(); stepper.reset()">
            Reset
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div
    *ngIf="isQuizQuestionVisible"
    class="example-form-2 raised-box fixed-margin"
  >
    <div style="display: flex; justify-content: end">
      question {{ currentQuestion?.index }} of
      {{ finalQuizQuestionArray?.length }}
    </div>
    <div style="height: 7rem">{{ currentQuestion?.content }}</div>
    <div style="display: flex; justify-content: space-between">
      <button
        mat-raised-button
        color="secondary"
        (click)="resetAll()"
      >
        Reset Quiz
      </button>
      <button
      mat-raised-button
      color="primary"
      (click)="nextQuestion()"
      [disabled]="currentQuestion?.index == finalQuizQuestionArray?.length"
    >
      Next
    </button>
    </div>
  </div>
  <!-- <div>
    <p>Time Remaining: {{ displayTime }}</p>
    <p>remaining counter timer : {{ remainingCounterTime }}</p>
    <button (click)="startTimer()">Start</button>
    <button (click)="stopTimer()">Stop</button>
  </div> -->
  <img
    *ngIf="isCounterVisible"
    src="../../../../assets/images/giphy.gif"
    alt="counter"
    style="height: 9rem; width: 9rem; border-radius: 50%"
  />
</div>
