/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content-spacer {
  flex: 1 1 auto;
}
button.mat-stroked-button:disabled {
  color: white !important;
  background: rgba(50, 65, 145, 1);
  border-color: rgba(0, 0, 0, 0.12);
}

button.mat-stroked-button:hover {
  color: white !important;
  background: rgba(50, 65, 145, 0.5);
  border-color: rgba(0, 0, 0, 0.12);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
}

.example-form-2 {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
}

.example-full-width {
  width: 100%;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent overlay */
  z-index: 999; /* Optional: Set a higher z-index to ensure it's above other elements */
}

.raised-box {
  background-color: #ffffff; /* Set the background color */
  border-radius: 8px; /* Optional: Add rounded corners */
  padding: 20px; /* Optional: Add padding to the content */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Add box shadow for the raised effect */
  transition: box-shadow 0.3s ease-in-out; /* Optional: Add a smooth transition effect */
}

.raised-box:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6); /* Change box shadow on hover for an interactive effect */
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index based on your layout */
}

.fixed-margin {
  margin-top: 64px; /* Adjust the margin based on your toolbar height */
}
