<div style="margin-bottom: 1rem; text-align: center" class="fixed-margin sticky-top">
  <mat-card>
    <!-- <span style="margin-right: 1rem">Select questions category:</span>
    <span>
      <mat-form-field appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </span> -->
    <label for="myDropdown" style="margin-right: 1rem"
      >Select a questions category :</label
    >
    <mat-form-field appearance="outline">
      <mat-label></mat-label>
      <mat-select
        id="myDropdown"
        [(ngModel)]="selectedCategoryValue"
        (selectionChange)="onCategoryChange()"
      >
        <mat-option *ngFor="let category of categoryOptions" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span style="margin-left: 1rem; margin-right: 1rem">Total no. of questions :</span>
    <!-- <span
      [matBadge]="filteredQnaList.length"
      matBadgeOverlap="false"
      matBadgePosition="after"
    ></span> -->
    <button mat-stroked-button disabled style="color: white; background: rgba(63, 81, 181, 1); border-color: rgba(0,0,0,.12);">{{filteredQnaList?.length}}</button>
  </mat-card>
</div>
<!-- <div *ngFor="let qna of qnaList">
  <div>
  <h3>Question :- {{qna.id}}</h3>
  <h3>{{qna.content}}</h3>
  <h4>{{qna.answer}}</h4>
  </div>
</div> -->
<div style="padding-top: 190px;">
<div *ngFor="let qna of filteredQnaList">
  <div style="margin-bottom: 1rem">
    <mat-accordion>
      <!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel> -->
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Q{{ qna.id }}. {{ qna.content }}</mat-panel-title>
          <!-- <mat-panel-description>
            Currently I am {{ panelOpenState ? "open" : "closed" }}
          </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>A. {{ qna.answer }}</p>
        <a *ngIf="qna?.link?.length > 0" [href]="qna.link" target="_blank">Click here for more information</a>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
</div>
